@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
.page__body {
  background-color: #e7e5e5;
}
.page__container {
  width: 320px;
  margin: 0 auto;
}
.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: #81B3D2;
  color: #FFFFFF;
}
.main-header {
  background-color: #FFFFFF;
}
.main-nav {
  background-color: #81B3D2;
  background-repeat: no-repeat;
}
.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-nav__item {
  padding-top: 17px;
  padding-bottom: 12px;
}
.main-nav__toggle {
  border: none;
  background-color: #FFFFFF;
}
.main-nav__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.intro {
  font-family: "PT Sans", "Arial", sans-serif;
}
.intro__container {
  min-height: 389px;
  background-color: #81B3D2;
  background-image: url("../img/intro/back.jpg");
  background-repeat: no-repeat;
}
.intro__container--inner {
  height: 158px;
  background-size: cover;
}
.intro__description {
  background-color: #FFFFFF;
  padding: 37px 20px 25px 20px;
}
.intro__title {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.intro__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.advantages {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #FFFFFF;
}
.advantages__description {
  padding: 32px 18px 16px 18px;
}
.advantages__slogan {
  margin: 0;
  padding-bottom: 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.advantages__card {
  padding: 18px;
}
.advantages__wrapper {
  padding: 24px 26px;
}
.advantages__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.advantages__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.advantages__number {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}
.advantages__list {
  list-style-type: none;
  padding: 0;
}
.advantages__item--blue {
  background-color: #81B3D2;
  color: #FFFFFF;
}
.advantages__item--gray {
  background-color: #d6d6d6;
}
.advantages__text--blue {
  color: #FFFFFF;
}
.services {
  list-style: none;
  padding: 23px 18px 46px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #FFFFFF;
}
.services__title {
  margin-left: 47px;
  font-size: 18px;
  font-weight: 700px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.services__description {
  margin-left: 47px;
  font-size: 14px;
  font-weight: 400px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.services__item {
  background-repeat: no-repeat;
  background-position: top left;
}
.services__item--housing {
  background-image: url("../img/services/housing.svg");
}
.services__item--food {
  background-image: url("../img/services/food.svg");
}
.services__item--souvenirs {
  background-image: url("../img/services/souvenirs.svg");
}
.hotel-search {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #FFFFFF;
}
.hotel-search__container {
  padding: 38px 29px 32px;
}
.hotel-search__title {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.hotel-search__description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.hotel-search__button {
  padding: 16px 49px;
}
.main-footer {
  padding: 33px 82px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #FFFFFF;
}
.main-footer__tag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.copyright {
  background-color: #FFFFFF;
}
.copyright__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
.copyright__link {
  text-decoration: none;
}
.social {
  list-style-type: none;
  padding: 0;
}
.social__item {
  background-color: #81B3D2;
}
.social__link {
  padding: 12px;
}
.photo-catalog {
  padding: 24px 20px 25px;
  background-color: #FFFFFF;
}
.photo-catalog__list {
  list-style-type: none;
  padding: 0;
}
.photo-card {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #FFFFFF;
}
.photo-card__description {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
.photo-card__author {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}
.photo-card__button {
  border: none;
  border-color: #FFFFFF;
}
.photo-card__result {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.video-presentation {
  padding: 17px 26px 0 28px;
  background-color: #FFFFFF;
  font-family: "PT Sans", "Arial", sans-serif;
}
.video-presentation__container {
  margin-bottom: 38px;
}
.video-presentation__slogan {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.video-presentation__description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.feedback-form {
  padding: 24px 20px 22px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #FFFFFF;
}
.feedback-form__group {
  border: none;
  margin: 0;
  padding: 0;
}
.feedback-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.feedback-form__legend {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.feedback-form__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.feedback-form__input {
  width: 280px;
  height: 58px;
  padding: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  color: #000000;
  background-color: #F2F2F2;
}
.placeholder {
  opacity: 30%;
}
.feedback-form__option {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}
.feedback-form__required {
  font-size: 12px;
  font-weight: 400px;
  line-height: 21px;
  color: #333333;
}
.feedback-form__button {
  padding: 16px 69px;
}
.feedback-form__textarea {
  min-width: 279px;
  min-height: 150px;
  padding: 16px;
  border: none;
  background-color: #F2F2F2;
}
.modal {
  width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #FFFFFF;
}
.modal__content {
  padding: 30px 39px 30px 37px;
  background-color: #FFFFFF;
}
.modal__container {
  padding: 20px;
  background-color: #F2F2F2;
}
.modal__title {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.modal__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.modal__button {
  padding: 18px 62px 14px 60px;
}
.modal-error {
  width: 320px;
  padding: 45px 42px 35px 41px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #FFFFFF;
}
.modal-error__title {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.modal-error__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.modal-error__button {
  padding: 18px 64px 14px 63px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
