.advantages {
  background-color: @white;
}

.advantages__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 30px 16px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 48px 0 55px;
    max-width: 520px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 0 44px;
  }
}

.advantages__slogan {
  position: relative;
  margin: 0;
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: @black;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 21px;
  }
}

.advantages__container--div {
  position: relative;
}

.advantages__container--div::after {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 320px;
    height: 37px;
    background-image: url("../img/index/div.svg");
    background-repeat: no-repeat;
  }
}

.advantages__card {
  padding: 37px 0;
  text-align: center;
  background-color: @blue;
  color: @white;

  @media (min-width: @tablet-width) {
    min-width: 256px;
    padding: 52px 33px 31px;
  }

  @media (min-width: @desktop-width) {
    min-width: 400px;
    padding: 52px 50px 51px 50px;
  }

  @media (max-width: @mobile-width-only) {
    position: relative;
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

.advantages__card--image {
  @media (max-width: @mobile-width-only) {
    padding: 37px 18px;
  }
}

.advantages__wrapper {
  padding: 24px 35px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 41px 33px;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 50px;
  }
}

.advantages__text {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: @darkgray;
}

.advantages__title {
  margin: 0 auto 17px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0 auto 16px;
    max-width: 150px;
    font-size: 21px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 15px;
  }
}

.advantages__number {
  display: block;
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}

.advantages__item--gray {
  position: relative;
  background-color: @lightgray4;
}

.advantages__item--gray:not(:last-child)::after {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    right: 20px;
    width: 284px;
    height: 1px;
    z-index: 1;
    background-color: @lightgray1;
  }
}

.advantages__text--blue {
  margin: 0;
  color: @white;

  @media (min-width: @desktop-width) {
    max-width: 270px;
    margin: 0 auto;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    min-width: @tablet-width;
    display: grid;
    grid-template-columns: 256px 256px 256px;
  }

  @media (min-width: @desktop-width) {
    min-width: @desktop-width;
    grid-template-columns: 400px 400px 400px;
  }
}

.advantages__container {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
    grid-column: 1/-1;
  }
}

.advantages__item--image {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    grid-column: 1/-1;
  }
}

.advantages__image {
  display: block;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    min-height: 256px;
    height: 100%;
    grid-column: span 2;
  }
}
