.copyright {
  background-color: @white;
}

.copyright__link {
  min-width: 129px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 7px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;

  &:hover {
    color: @blue;
  }

  &:active {
    color: @lightbrown;
  }
}
