.feedback-form {
  padding: 24px 20px 22px;
  background-color: @white;
}

.feedback-form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.feedback-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.feedback-form__legend {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
}

.feedback-form__text {
  text-transform: uppercase;
  color: @darkgray;
}

.feedback-form__input {
  width: 280px;
  height: 58px;
  padding: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  color: @black;
  background-color: @lightgray;
}

.feedback-form__option {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @black;
}

.feedback-form__required {
  font-size: 12px;
  font-weight: 400px;
  line-height: 21px;
  color: @darkgray;
}

.feedback-form__button {
  padding: 16px 69px;
}

.feedback-form__textarea {
  min-width: 279px;
  min-height: 150px;
  padding: 16px;
  border: none;
  background-color: @lightgray;
}
