.hotel-search__container {
  padding: 38px 29px 32px;
  text-align: center;
  background-color: @white;

  @media (min-width: @tablet-width) {
    padding: 60px 155px 55px;
  }
}

.hotel-search__title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 26px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (min-width: @desktop-width) {
    line-height: 30px;
    text-shadow: none;
  }
}

.hotel-search__description {
  margin: 0;
  text-transform: uppercase;
  color: @darkgray;

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (min-width: @desktop-width) {
    text-shadow: none;
  }
}

.hotel-search__button {
  margin-top: 32px;
  padding: 16px 38px;

  @media (min-width: @tablet-width) {
    padding: 14px 121px 17px;
  }
}

.hotel-search__button:hover {
  box-shadow: none;
}

.hotel-search__button:active {
  background-color: @darkblue1;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search__button:disabled {
  background-color: @grey1;
}

.hotel-search__map {
  position: relative;
  height: 350px;
  overflow: hidden;
}

.hotel-search__map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.hotel-search__map--nojs {
  background-image: url("../img/index/map.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
