@bottom: 30px;

.intro {
  font-family: "PT Sans", "Arial", sans-serif;
}

.intro__container {
  margin-bottom: @bottom;
  min-height: 389px;
  background-color: @blue;
  background-image: url("../img/intro/back.jpg");
  background-repeat: no-repeat;

}

.intro__container--inner{
  margin-bottom: @bottom;
  min-height: 158px;
}


.intro__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
}

.intro__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: @darkgray;
}
