.intro {
  background-color: @white;
}

.intro__container {
  position: relative;
  min-height: 389px;
  background-color: @blue;
  background-image: url("../img/intro/back.jpg");
  background-repeat: no-repeat;
}

.intro__container::after {
  content: "";
  position: absolute;
  bottom: -1px;
  z-index: 2;
  width: 320px;
  height: 57px;
  background-image: url("../img/index/divider.png");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.intro__container--inner {
  min-height: 158px;
  background-size: cover;
}

.intro__description {
  max-width: 467px;
  margin: 0 auto;
  padding: 37px 20px 15px 20px;
  text-align: center;
  background-color: @white;
}

.intro__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
    font-size: 30px;
  }
}

.intro__text {
  margin: 0;
  text-transform: uppercase;
  color: @darkgray;
}

.intro__image {
  position: absolute;
  top: 90px;
  right: 50%;
  transform: translateX(50%);
}

.intro__image--inner {
  top: 40%;
}
