.main-nav {
  background-color: @blue;
  background-repeat: no-repeat;
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  padding-top: 17px;
  padding-bottom: 12px;
}

.main-nav__toggle {
  border: none;
  background-color: @white;
}

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
}

//media

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: dense;
    background-color: @white;
  }

  .main-nav__list::before {
    content: "";
    grid-column: 3/4;
    grid-row: span 2;
  }

  .main-nav__link {
    font-size: 14px;
    line-height: 21px;
    color: @black;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    padding-left: 91px;
    padding-right: 71px;
  }
}
