.main-footer {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: @white;
}

.main-footer__tag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
}
