.main-header {
  position: relative;
  background-color: @white;
  max-height: 56px;

  @media (min-width: @tablet-width) {
    min-height: 56px;
  }
}

.main-header__logo {
  display: flex;
  justify-content: center;
  align-self: center;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}

.main-header__logo-image {
  z-index: 3;
}
