.main-header {
  position: relative;
  background-color: @white;
  max-height: 56px;

  @media (max-width: @mobile-width-only) {
    max-height: 56px;
  }
}

.main-header__logo {
  @media (max-width: @mobile-width-only) {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 3;
  }
}
