.modal {
  width: 320px;
  background-color: @white;
}

.modal__content--description {
  padding: 39px 39px 30px 37px;
}

.modal--error {
  padding: 45px 42px 35px 41px;
}

.modal__container {
  padding: 20px;
}

.modal__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
}

.modal__text {
  margin: 0;
  text-transform: uppercase;
  color: @darkgray;
}
