.photo-card {
  background-color: @white;
}

.photo-card__name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: @black;
}

.photo-card__author {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: @darkgray;
}

.photo-card__button {
  border: none;
  border-color: @white;
}

.photo-card__result {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: @darkgray;
}

@media (min-width: @tablet-width) {
  .photo-card__description {
    padding: 22px 20px 15px;
  }
}
