.services {
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: @white;
}

.services__title {
  margin-left: 47px;
  font-size: 18px;
  font-weight: 700px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
}

.services__description {
  margin-left: 47px;
  font-size: 14px;
  font-weight: 400px;
  line-height: 21px;
  text-transform: uppercase;
  color: @darkgray;
}

.services__item {
  background-repeat: no-repeat;
  background-position: top left;
}


.services__item--housing {
  background-image: url("../img/services/housing.svg")
}

.services__item--food {
  background-image: url("../img/services/food.svg")
}

.services__item--souvenirs {
  background-image: url("../img/services/souvenirs.svg")
}
