//colors
@white: #FFFFFF;
@blue: #81B3D2;
@darkblue: #669EC0;
@darkblue1: #5496BD;
@black: #000000;
@darkgray: #333333;
@lightgray: #F2F2F2;
@lightgray1: #d6d6d6;
@lightgray2:#EAEAEA;
@lightgray3:#e7e5e5;
@lightgray4: #EEEEEE;
@grey1:  #E5E5E5;
@grey2: #D5D5D5;
@grey3: #DBDBDB;
@grey4: #E6E6E6;
@brown: #766357;
@lightbrown:  #B3B3B3;
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
